<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>sitemap-location</param-name>
        <param-value>WEB-INF/sitemap.xml</param-value>
    </context-param>
    <listener>
        <listener-class>com.tientt.listeners.CustomContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>com.tientt.filters.ExceptionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.tientt.filters.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResourceValidationFilter</filter-name>
        <filter-class>com.tientt.filters.ResourceValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.tientt.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.tientt.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceValidationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tientt.servlets.accesscontroll.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tientt.servlets.accesscontroll.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tientt.servlets.accesscontroll.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSearchServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.question.QuestionSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminPageServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.ShowMainPageServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.question.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.question.QuestionCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCreateQuestionPageServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.question.QuestionShowCreatePageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowCreateTestPageServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.test.TestShowCreatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.test.TestCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTestAdminServlet</servlet-name>
        <servlet-class>com.tientt.servlets.admin.test.TestSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentPageServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.ShowMainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizTakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuizServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowResultServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizShowResultPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuizHistoryServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizShowHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubmissionServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizUpdateSubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizGetQuestionCountServlet</servlet-name>
        <servlet-class>com.tientt.servlets.student.quiz.QuizGetQuestionCountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizGetQuestionCountServlet</servlet-name>
        <url-pattern>/QuizGetQuestionCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubmissionServlet</servlet-name>
        <url-pattern>/UpdateSubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuizHistoryServlet</servlet-name>
        <url-pattern>/ShowQuizHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowResultServlet</servlet-name>
        <url-pattern>/ShowResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowQuizServlet</servlet-name>
        <url-pattern>/ShowQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizServlet</servlet-name>
        <url-pattern>/TakeQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentPageServlet</servlet-name>
        <url-pattern>/ShowStudentPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTestAdminServlet</servlet-name>
        <url-pattern>/SearchTestAdminServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateTestServlet</servlet-name>
        <url-pattern>/CreateTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreateTestPageServlet</servlet-name>
        <url-pattern>/ShowCreateTestPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreateQuestionPageServlet</servlet-name>
        <url-pattern>/ShowCreateQuestionPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowAdminPageServlet</servlet-name>
        <url-pattern>/ShowAdminPageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestionSearchServlet</servlet-name>
        <url-pattern>/QuestionSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/loginPage</welcome-file>
    </welcome-file-list>
</web-app>